<html>
  <head>
  <title>Acceso No Autorizado</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="{{ asset('css/error.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
	 <!---728x90-->
	 <!--start-wrap-->
	 <div class="wrap">
	   <!--start-content-->
		  <div class="content">
			 <!---start-logo-->
			 <div class="logo">
          <h1><a href="#"><img src="{{ asset('images/403.png') }}"></a></h1>
				  <span><img src="{{ asset('images/signal.png')}}">Acceso no autorizado, debes ingresar unas credenciales validas para ver el contenido de esta pagina</span>
			 </div>
			 <!--end-logo-->
			 <!--start-search-bar-section-->
			<div class="buttom">
				
			</div>
			<!--end-sear-bar-->
		</div>
	</div>
	<!--end-wrap-->
</body>
</html>