{% extends 'base.login.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">                    
            <div class="panel-body">
                <form name="login" method="post" action="/vroi/web/app.php/login" class="form-signin">
                <fieldset>
                    <img id="profile-img" style="width: 96px; height: 96px; margin: 0 auto 10px; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    <div class="form-group">
                        <input id="login_username" name="login[username]" required="required" class="form-control" autofocus="" placeholder="Nombre de Usuario" type="text">
                    </div>
                    <div class="form-group">
                        <input id="login_password" name="login[password]" required="required" class="form-control" autofocus="" placeholder="Password" type="password">
                    </div>
                    <button type="submit" id="login_save" name="login[save]" class="btn btn-lg btn-info btn-block">Sign In</button>
                </fielldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}